body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

h2 {
    color: #555;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    color: #777;
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.5;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-details {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.movie-details .movie-info {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.movie-details .movie-image {
    flex: 1;
    text-align: center;
}

.movie-details img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}