<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Filter Movies</title>
    <link rel="stylesheet" href="{% static 'css/filtered.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'filter_movies' %}">Filter Movies</a></li>
        </ul>
    </nav>
    <h1>Filter Movies</h1>

    <form method="POST" action="{% url 'filter_movies' %}">
        {% csrf_token %}
        <label for="genre">Genre:</label>
        <select name="genre" id="genre">
            <option value="all">All</option>
            <option value="action">Action</option>
            <option value="comedy">Comedy</option>
            <option value="drama">Drama</option>
            <option value="horror">Horror</option>
        </select>

        <br>

        <label for="year">Year:</label>
        <select name="year" id="year">
            <option value="all">All</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="older">Older</option>
        </select>

        <br>

        <label for="rating">Rating:</label>
        <select name="rating" id="rating">
            <option value="all">All</option>
            <option value="8">8+</option>
            <option value="7">7+</option>
            <option value="6">6+</option>
        </select>

        <br>

        <label for="language">Language:</label>
        <select name="language" id="language">
            <option value="all">All</option>
            <option value="english">English</option>
            <option value="spanish">Spanish</option>
            <option value="french">French</option>
            <option value='hindi'>Hindi</option>
        </select>

        <br>

        <input type="submit" value="Filter">
    </form>
</body>
</html>