<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Movie Recommendation</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'filter_movies' %}">Filter Movies</a></li>
        </ul>
    </nav>
    <h1>Welcome to Movie Recommendation!</h1>
    <form method="POST" action="{% url 'movie_search' %}">
        {% csrf_token %}
        <label for="movie_title">Enter a movie title:</label>
        <input type="text" id="movie_title" name="movie_title" required>
        <br>
        <label for="movie_year">Enter a movie year:</label>
        <input type="number" id="movie_year" name="movie_year">
        <button type="submit">Search</button>
    </form>
</body>
</html>