<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>
<body>
    <h1>Search Results</h1>
    {% if movies %}
        <ul>
            {% for movie in movies %}
                <li>
                    <h2>{{ movie.title }}</h2>
                    <p>Year: {{ movie.year }}</p>
                    <p>Genre: {{ movie.genre }}</p>
                    <p>Language: {{ movie.language }}</p>
                    <p>Country: {{ movie.country }}</p>
                    <p>Rating: {{ movie.rating }}</p>
                    <img src="{{ movie.image }}" alt="{{ movie.title }} Poster">
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No movies found.</p>
    {% endif %}
 </body>